.carouselPage {
  /* margin-top: 75px; */
}
.fixed-height {
  height: calc(100vh - 80px);
  width: 100%;
}

.caption {
  font-size: 1.4rem;
  background: rgba(168, 197, 209, 0.712);
  border-radius: 12px;
}
